body {
  padding: 20px;
  font-family: helvetica;
}

$gray-darker: lighten(#000, 13.5%) !default; // #222
$gray-dark: lighten(#000, 20%) !default;   // #333
$gray: lighten(#000, 33.5%) !default; // #555
$gray-light: lighten(#000, 60%) !default;   // #999
$gray-lighter: lighten(#000, 93.5%) !default; // #eee

// start of actual code

.br-found-heading {
  font-weight: bold;
  color: $gray-light;
}
.br-sf-widget {
  div {
    &:first-child {
      padding-left: 0px;
    }
    &:last-child {
      border-right: 0px;
    }
  }
}

div.br-sf-widget-merchant-cont {
  padding: 15px;
  border-right: 1px solid $gray-lighter;
  display: inline-block;
  width: 19.99%;
  float: left;
  min-height: 100px;
  overflow: hidden;
}

.br-sf-widget-merchant-img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  float: left;
  overflow: hidden;
  text-align: center;
  border: 1px solid $gray-lighter;
  img {
    width: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

div.br-sf-widget-merchant-title {
  line-height: 1.2em;
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.br-sf-widget-merchant-desc {
  line-height: 1.2em;
  max-height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
}