<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    crossorigin="anonymous"

    <title>Papeleria</title>
    <link rel="stylesheet" href="informacion.component.css">
    <link rel="stylesheet" href="informacion.component.scss">
  </head>
  <body>
   
    <div class="contenedor2">
      <div class="flexsearch">
        <div class="flexsearch--wrapper">
          <form class="flexsearch--form" action="#" method="post">
            <div class="flexsearch--input-wrapper">
              <input class="flexsearch--input" type="search" placeholder="search">
            </div>
            <input class="flexsearch--submit" type="submit" value="&#10140;"/>
          </form>
        </div>
      </div>

      <div>
        <p style="margin-right: 130px;">
          <a class="namePapeleria" >
            Papeleria
          </a>
      </p>
        <img class="imagenlogo" src="../../assets/imagenes/4j.png">
      </div>
    </div>
    
    <button class="btnFlecha">
        <a routerLink="/productos">
            <img class="image--cover" style="background-color: white;" src="../../assets/imagenes/flecha-izquierda.png">
        </a>
    </button>
    <br>
<section>
  <div  style="float:left; margin-left:80px" class="cuadrado;">
    <img style="border:10px" class="size-product" src="../../assets/imagenes/productos/BROCHES.jpg" alt="">
  </div>

  <div style="margin-left: 400px;">
    <div style="float:left; font-size:20px;">Broche "BACO", Material de Papeleria</div>
    <br><br><br><br>
    
    <div style="float:left;width: 30%; color:red; font-size:20px;"><b>Detalles:</b></div>
    <br><br><br>

    <div style="float:left;width: 30%;font-size:18px;"><font color="limegreen">Categoria: </font>Escolar</div>
    <br><br><br>
    <div style="float:left;width: 40%;font-size:18px;"><font color="limegreen">Precio por mayoreo: </font>$12</div>
    <div style="float:left;width: 40%;font-size:18px;"><font color="limegreen">Precio por menudeo: </font>$15</div>
  </div>
</section>


  <!--Productos relacionados-->
  <section class="relatedproducts">
    <div class="contProductos"><h2 style="color: black;"><b>Productos relacionados</b></h2></div> 
      <div class="related">
      <div class="widget-cont">
        <div class="widget-img">
          <img src="./../../assets/imagenes/productos/agenda.jpg">
        </div>
        <div class="linkTitulo">
          <a href="https://www.build.com/parvez-taj-lake-marmont/s1118813">Agenda</a>
        </div>
        <div class="descripcion">
          Caracteristicas: ...
        </div>
        <div class="detalles">
            <a href="javascript:void(0);" onclick="document.getElementById('br1').style.display='block'; document.getElementById('br2').style.display='none'; document.getElementById('br3').style.display='none';">Mas Detalles</a>
        </div>
      </div>
      </div>
     <div id="br1" style="display:none;">
     <div class="popup-maincont">
        <div class="popup-cont">
          <div class="popup-img">
            <a href="https://www.build.com/parvez-taj-lake-marmont/s1118813"><img src="./../../assets/imagenes/productos/agenda.jpg"></a>
          </div>
          <div class="popup-title">
             Agenda
          </div>
          <div class="popup-desc">
            Description:<br>
            Features:
            
          </div>
          <div class="popup-view">
            <a href="https://www.build.com/parvez-taj-lake-marmont/s1118813">Ver producto</a>
          </div>
          <div class="popup-close">
            <a href="javascript:void(0);" onclick="document.getElementById('br1').style.display='none';">X</a>
          </div>
        </div>
     </div>
     </div>
      <div class="related">
      <div class="widget-cont">
        <div class="widget-img">
          <img src="./../../assets/imagenes/productos/BROCHES.jpg">
        </div>
        <div class="linkTitulo">
          <a href="https://www.build.com/murray-feiss-p1261-pendant-light/s792139">Broches</a>
        </div>
        <div class="descripcion">
          Caracteristicas: ...
        </div>
        <div class="detalles">
            <a href="javascript:void(0);" onclick="document.getElementById('br2').style.display='block'; document.getElementById('br1').style.display='none'; document.getElementById('br3').style.display='none';">Mas Detalles</a>
        </div>
      </div>
      </div>
     <div id="br2" style="display:none;">
     <div class="popup-maincont">
        <div class="popup-cont">
          <div class="popup-img">
            <a href="https://www.build.com/murray-feiss-p1261-pendant-light/s792139"><img style="height: 250px; width:250px" src="./../../assets/imagenes/productos/BROCHES.jpg"></a>
          </div>
          <div class="popup-title">
             Broches
          </div>
          <div class="popup-desc">
            Description:<br>
          </div>
          <div class="popup-view">
            <a href="https://www.build.com/murray-feiss-p1261-pendant-light/s792139">Ver producto</a>
          </div>
          <div class="popup-close">
            <a href="javascript:void(0);" onclick="document.getElementById('br2').style.display='none';">X</a>
          </div>
        </div>
     </div>
     </div>
      <div class="related">
      <div class="widget-cont">
        <div class="widget-img">
          <img src="./../../assets/imagenes/productos/carpeta individual.jpg">
        </div>
        <div class="linkTitulo">
          <a href="https://www.build.com/miseno-mk500-kitchen-faucet/s920157">Carpeta individual</a>
        </div>
        <div class="descripcion">
          Caracteristicas: ...
        </div>
        <div class="detalles">
            <a href="javascript:void(0);" onclick="document.getElementById('br3').style.display='block'; document.getElementById('br1').style.display='none'; document.getElementById('br2').style.display='none';">Mas Detalles</a>
        </div>
      </div>
      </div>
     <div id="br3" style="display:none;">
     <div class="popup-maincont">
        <div class="popup-cont">
          <div class="popup-img">
            <a href="https://www.build.com/miseno-mk500-kitchen-faucet/s920157"><img src="./../../assets/imagenes/productos/carpeta individual.jpg"></a>
          </div>
          <div class="popup-title">
             Carpeta individual
          </div>
          <div class="popup-desc">
            Description:<br>
          </div>
          <div class="popup-view">
            <a href="https://www.build.com/miseno-mk500-kitchen-faucet/s920157">Ver producto</a>
          </div>
          <div class="popup-close">
            <a href="javascript:void(0);" onclick="document.getElementById('br3').style.display='none';">X</a>
          </div>
        </div>
     </div>
     </div>
      <div class="related">
      <div class="widget-cont">
        <div class="widget-img">
          <img src="./../../assets/imagenes/productos/reglas.jpg">
        </div>
        <div class="linkTitulo">
          <a href="https://www.build.com/minkaaire-wave-ceiling-fan/s849998">Reglas</a>
        </div>
        <div class="descripcion">
          Caracteristicas: ...
        </div>
        <div class="detalles">
            <a href="javascript:void(0);" onclick="document.getElementById('br4').style.display='block'; document.getElementById('br1').style.display='none'; document.getElementById('br2').style.display='none';">Mas Detalles</a>
        </div>
      </div>
      </div>
      <div id="br4" style="display:none;">
        <div class="popup-maincont">
           <div class="popup-cont">
             <div class="popup-img">
               <a href="https://www.build.com/miseno-mk500-kitchen-faucet/s920157"><img src="./../../assets/imagenes/productos/carpeta individual.jpg"></a>
             </div>
             <div class="popup-title">
               Reglas
             </div>
             <div class="popup-desc">
               Description:<br>
             </div>
             <div class="popup-view">
               <a href="https://www.build.com/miseno-mk500-kitchen-faucet/s920157">Ver producto</a>
             </div>
             <div class="popup-close">
               <a href="javascript:void(0);" onclick="document.getElementById('br4').style.display='none';">X</a>
             </div>
           </div>
        </div>
        </div>
         <div class="related">
         <div class="widget-cont">
           <div class="widget-img">
             <img src="./../../assets/imagenes/productos/tijeras.jpg">
           </div>
           <div class="linkTitulo">
             <a href="https://www.build.com/minkaaire-wave-ceiling-fan/s849998">Tijeras</a>
           </div>
           <div class="descripcion">
             Caracteristicas: ...
           </div>
           <div class="detalles">
               <a href="javascript:void(0);" onclick="document.getElementById('br4').style.display='block'; document.getElementById('br1').style.display='none'; document.getElementById('br2').style.display='none';">Mas Detalles</a>
           </div>
         </div>
         </div>
     <div id="br5" style="display:none;">
     <div class="popup-maincont">
        <div class="popup-cont">
          <div class="popup-img">
            <a href="https://www.build.com/schlage-f10-lat-passage-door-lever/s503198"><img src="./../../assets/imagenes/productos/agenda.jpg"></a>
          </div>
          <div class="popup-title">
             Tijeras
          </div>
          <div class="popup-desc">
            Description:<br>    
          </div>
          <div class="popup-view">
            <a href="https://www.build.com/schlage-f10-lat-passage-door-lever/s503198">Ver producto</a>
          </div>
          <div class="popup-close">
            <a href="javascript:void(0);" onclick="document.getElementById('br5').style.display='none';">X</a>
          </div>
        </div>
     </div>
     </div>
  </section>
  </body>
</html>

