<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papeleria</title>
    <link rel="stylesheet" href="principal.component.css">
  </head>
  <div class="contenedor2">
      <a [routerLink]= "['/productos']">
        <button class="button1" >Productos</button>
      </a>

    <div class="flexsearch">
		  <div class="flexsearch--wrapper">
			  <form class="flexsearch--form" action="#" method="post">
				  <div class="flexsearch--input-wrapper">
					  <input class="flexsearch--input" type="search" placeholder="search">
				  </div>
				  <input class="flexsearch--submit" type="submit" value="&#10140;"/>
			  </form>
		  </div>
    </div>
  </div>
  <body class="contenedor">
    <form class="form-principal">
      <div>
        <p style="margin-top: 250px; margin-left: 420px;">
          <a class="namePapeleria" >
            Papeleria
          </a>
      </p>
        <img class="imagenlogo" src="../../assets/imagenes/4j.png">
      </div>
    </form>
  </body>
  <div class="contenedor-datos">
    <div class="contenedor-direccion">
      <div class="datos" style="padding: 16px;">
        <img src="../../assets/imagenes/informacion/gmail.png" width="30" height="30" style="margin-left: 70px;">     
        <label style="margin-left: 20px;">8138adriana@gmail.com</label>
    </div>
    <div class="datos" style="padding: 6px;">
      <img src="../../assets/imagenes/informacion/llamada-telefonica.png" width="30" height="30" style="margin-left: 140px;">    
      <label style="margin-left: 20px;">272-722-2307</label>
    </div>
    <br>
    <div class="datos">
      <img src="../../assets/imagenes/informacion/whatsapp.png" width="30" height="30" style="margin-left: 140px;">    
      <label style="margin-left: 20px;">272-593-1130</label>
    </div>
    </div>
  </div>
</html>

