* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: arial;
  }

  .imagenlogo{
    margin-left: 620px;
    margin-top: 5px;
    width:128; 
    height:170;
  }

  .contenedor {
	  width: 1346px;
    height: 790px;
	  margin: auto;
	  padding: 10px 0;
	  display: flex;
    background-image: url('../../assets/imagenes/fondo2.png');
    min-height: 100%;
    background-size:cover;
}
.contenedor2 {
  width: 1346px;
  height: 89px;
  margin: auto;
  display: flex;
  background-size:cover;
  padding-top: 12px;
  background-color: #D5A6BD;
}
.contenedor-datos {
  width: 1346px;
  height: 240px;
  margin: auto;
  padding-top: 20px;
  background-color:cornflowerblue;
}
.contenedor-direccion {
  width: 496px;
  height: 200px;
  margin: auto;
  padding-top: 10px;
  background-color:cornflowerblue;
  border-color: black;
  border-style: solid;
}
.boton1{
	display: block;
	width: 50px;
	height: 50px;
	border: none;
	margin-right: 1250px;
  background: #ffffff;
}

 /**Diseño buscador

/***********************
 * Essential Structure *
 ***********************/
.flexsearch--wrapper {
	height: 80px;
	width: auto;
	overflow: hidden;
	background: transparent;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  padding: 0 250px; /* Padding for other horizontal elements */
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 60px;
  padding: 0 46px 0 10px;
	border-color: #888;
  border-radius: 35px; /* (height/2) + border-width */
  border-style: solid;
	border-width: 5px;
  margin-top: 0px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
	font-size: 26px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
.flexsearch--submit {
  position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 60px;
	height: 60px;
  padding: 0;
  border: none;
	margin-top: 6px; /* margin-top + border-width */
  margin-right: 5px; /* border-width */
	background: transparent;
  color: #888;
  font-family: 'Helvetica', sans-serif;
  font-size: 40px;
  line-height: 60px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
	color: #888;  
}

input:-moz-placeholder {
  color: #888
}
