<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head >
    <meta charset="utf-8">
    <title>Papeleria</title>
    <link rel="stylesheet" href="principal.component.css">
  </head>
  <div class="contenedor2">
      <a [routerLink]= "['/productos']" style="font-weight: 800; font-size: xx-large; text-decoration: none; color: #333333;margin-left: 200px;" >
        Productos
      </a>

    <div class="flexsearch">
		  <div class="flexsearch--wrapper">
			  <form class="flexsearch--form" action="#" method="post">
				  <div class="flexsearch--input-wrapper">
					  <input class="flexsearch--input" type="search" placeholder="search">
				  </div>
				  <input class="flexsearch--submit" type="submit" value="&#10140;"/>
			  </form>
		  </div>
    </div>
  </div>
  <body class="contenedor">
    <form class="form-principal">
      <div>
        <p style="margin-top: 260px; margin-left: 420px;">
          <a style="font-weight: 400; color: #333333; font-size: 130px; text-decoration: none; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif" >
            Papeleria
          </a>
      </p>
        <img class="imagenlogo" src="../../assets/imagenes/4j.png">
      </div>
    </form>
  </body>
  <div class="contenedor-datos">
    <div class="contenedor-direccion">
      <div style="display:block; font-size: x-large; padding: 20px;">
        <img src="../../assets/imagenes/gmail.png" width="30" height="30" style="margin-left: 70px;">     
        <label style="margin-left: 20px;">8138adriana@gmail.com</label>
    </div>
    <br>
    <div style="display:block; font-size: x-large; padding: 20;">
      <img src="../../assets/imagenes/llamada.png" width="30" height="30" style="margin-left: 140px;">    
      <label style="margin-left: 20px;">272-722-2307</label>
    </div>
    </div>
  </div>
</html>

